/* Set up basic styles for the page */
body {
  box-sizing: border-box;
  background-color: var(--bg-color);
}

/* Reset padding, margin, and font color for all elements */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}
