:root {
  /* Color pallete */
  --primary-color: #f1f1f1;
  --secondary-color: #0c0c0f;
  --accent-1: #2196f3;
  --accent-2: #228b22;
  /* Colors */
  --bg-color: #0c0c0f;
  /* Background colors for buttons */
  --easy-btn-bg: #4caf50;
  --medium-btn-bg: #d32f2f;
  --hard-btn-bg: #2196f3;
  --expert-btn-bg: #e91e63;
  /* Font styles | Family */
  --text-italic: "Open Sans Italic";
  --text-light: "Open Sans Light";
  --text-regular: "Open Sans Regular";
  --text-semibold: "Open Sans semibold";
  --text-bold: "Open Sans bold";
}
